<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" type='text/css' href="{{ url_for('static',filename='style.css')}}">
</head>
<body>
    <div class="stars"></div>
    <div class="twinkling"></div>
    <div class="clouds">
    <img src="{{ url_for('static',filename='NikeLogo.png')}}" align="middle" height="150" width="200" alt="ARE Visual Logo Mark" class="imageSpin">
    <h1>Nike Sale Finder</h1>
    {% block content %}
    {% endblock %}
    </div>
</body>
</html>

